<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.softisland.client.business.mapper.BusinessProductDeliverMapper">

    <resultMap id="BaseResultMap" type="com.softisland.entity.business.BusinessProductDeliver">
		<id column="id" jdbcType="BIGINT" property="id" />
	</resultMap>
	
	<select id="getList" resultType="com.softisland.entity.business.vo.BusinessProductDeliverVo">
		SELECT
			id,
			is_default
		FROM
			business_product_deliver
		WHERE
			STATUS = 1
		AND user_id = #{user_id}
		AND p_id = #{p_id}
		ORDER BY
			is_default DESC,
			operate_time DESC
	</select>

</mapper>