<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.softisland.client.business.mapper.BusinessPayCurrencyMapper">

    <resultMap id="BaseResultMap" type="com.softisland.entity.business.BusinessPayCurrency">
        <id column="id" jdbcType="BIGINT" property="id"/>
    </resultMap>

    <select id="selectPayCurrency" parameterType="com.softisland.entity.business.BusinessPay" resultMap="BaseResultMap">
        select b.*,n.pay_id,n.currency_id,c.currency_code,c.currency_name
        from business_pay_currency as n
        left join business_pay as b
        on b.id=n.pay_id
        LEFT JOIN business_currency as c
        on c.id=n.currency_id
        ORDER BY b.is_num_by desc
    </select>

    <delete id="deletePayCurrency" parameterType="java.lang.Integer">
        delete from business_pay_currency WHERE pay_id=#{pay_id}
    </delete>

</mapper>